<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
 <menu>

	<add id="Magepow_FeatureProduct::grid" title=" Featured Products" module="Magepow_FeaturedProduct" sortOrder="30" parent="Magento_Catalog::inventory" resource="Magepow_FeaturedProduct::featuredproduct"/>
	
 </menu>
</config>
