<?xml version="1.0"?>
<!-- /**
 * @Author: nguyen
 * @Date:   2020-02-12 14:01:01
 * @Last Modified by:   nguyen
 * @Last Modified time: 2020-02-15 18:55:34
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
	    <magepow_instagram>
            <general>
                <enabled>1</enabled>
                <username>aloteam</username>
                <accessToken>IGQVJXTlN0Mjh1azVpUkUxU1JEcDdBa25RT3A0OW5mQUswT0tCVHRacW9BUDljZAV8tbkxaY0tIVDhzNkEzMVllc3V6aUVMNFA5SkFndTdFS1pmMldSZA3FZAQmxJRUdmVFg5SjlSNmJ3cFJiekl1dTctSAZDZD</accessToken>
                <limit>12</limit>
                <lazyload>0</lazyload>
                <slide>1</slide>
                <vertical>false</vertical>
                <infinite>true</infinite>
                <autoplay>true</autoplay>
                <arrows>false</arrows>
                <center_mode>false</center_mode>
                <dots>false</dots>
                <fade>false</fade>
                <rows>1</rows>
                <speed>6000</speed>
                <autoplay_speed>0</autoplay_speed>
                <padding>0</padding>
                <mobile>2</mobile>
                <portrait>3</portrait>
                <landscape>3</landscape>
                <tablet>4</tablet>
                <notebook>4</notebook>
                <laptop>5</laptop>
                <desktop>5</desktop>
                <widescreen>6</widescreen>
                <visible>6</visible>
            </general>
        </magepow_instagram>    
	</default>
</config>
